setup_ansible_parser.sh
uninstall_parsers.sh
install_parsers.sh
otherREADME.md

__pycache__/

check_output.csv
test_output.csv

# Files added by mrm
.idea
myenv
TemplateAnalyzer-osx-arm64
draft.ipynb
ansible-outputs
FINAL_CSV.csv
.DS_Store
new_output.csv
template-analyzer/
FINAL_CSV_1.csv
log_error.txt
